<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/patient.css">
</head>
<style>
    body {
        padding: 0px 50px;
        background-image: url('./img/bgi.jpg');
        background-size: cover;
    }

    .no-click {
        /*cursor: not-allowed;*/
        pointer-events: none;
    }

    .student-container {
        display: flex;
        height: 450px;
        width: 100%;
    }

    .left {
        width: 30%;
        height: 100%;
    }

    .right {
        width: 70%;
        height: 100%;

    }

    #upload {
        display: none;

    }

    .uploadFile {
        display: inline-block;
        width: 110px;
        height: 60px;
        border: 1px dashed #e5e5ee;
        text-align: center;
        line-height: 60px;
        font-size: 18px;
        font-family: '楷体';
        color: gray;
        border-radius: 10px;
        margin: 0px;
    }

    .uploadFile:hover {
        cursor: pointer;
        border: 1px dashed rgb(51, 133, 255);
        color: rgb(51, 133, 255);
        transition: .5s border;
    }
</style>

<body>

<div class="page-header">
    <h1 style='color: cornflowerblue'>攀医挂号系统
    </h1>
</div>

<div class="row">
    <div class="col-lg-8 col-lg-offset-2 ">
        <div class="student-container">
            <div class="left">
                <div style="text-align:center;">
                    <br/>
                    <h4>姓名:<span th:text="${patientInfo.getName()}"></span></h4>
                    <br/>
                    <h4>手机号:<span th:text="${patientInfo.getId()}"></span></h4>
                    <br/>
                    <h4>年龄:<span th:text="${patientInfo.getAge()}"></span></h4>
                    <br/>
                    <h4><a href="#" data-toggle="modal" data-target=".edit-info">编辑个人信息</a></h4>
                    <br/>
                    <h4><a th:href="@{/logout}">退出登录</a></h4>
                    <div class="modal fade edit-info" tabindex="-1" role="dialog"
                         aria-labelledby="mySmallModalLabel">
                        <div class="modal-dialog modal-sm " role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"
                                            aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title" id="myModalLabe">修改个人信息</h4>
                                </div>
                                <div class="modal-body">
                                    <form action="" method="POST" class="form-horizontal" role="form"
                                          id="updateUserInfo">
                                        <div class="form-group">
                                            <label for="phone">手机号</label>
                                            <input type="text" class="form-control" id="phone" name="newId"
                                                   placeholder="请输入手机号" th:value="${session.userPwd.getId()}">
                                        </div>
                                        <div class="form-group">
                                            <label for="name">姓名</label>
                                            <input type="text" class="form-control" id="name" name="username"
                                                   placeholder="请输入姓名" th:value="${patientInfo.getName()}">
                                        </div>
                                        <div class="form-group">
                                            <label for="password">密码</label>
                                            <input type="password" class="form-control" id="password"
                                                   placeholder="请输入新密码" name="newPwd"
                                                   th:value="${session.userPwd.getPassword()}">
                                        </div>
                                        <div class="form-group">
                                            <label for="idcard">身份证号码</label>
                                            <input type="text" class="form-control" id="idcard" name="idcard"
                                                   placeholder="请输入身份证号码" th:value="${patientInfo.getIdcard()}">
                                        </div>
                                        <div class="form-group">
                                            <input type="submit" class="btn btn-primary" th:value="修改"
                                                   onclick="updateUserInfo1()"></input>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="right">
                <div>
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist" id="myTabs">
                        <li role="presentation" class="active" onclick="foo(this)"><a href="#home"
                                                                                      aria-controls="home" role="tab"
                                                                                      data-toggle="tab">挂号</a></li>
                        <li role="presentation" onclick="foo(this)"><a href="#message"
                                                                       aria-controls="message" role="tab"
                                                                       data-toggle="tab"> 信息反馈</a></li>
                        <li role="presentation" onclick="foo(this)"><a href="#notes"
                                                                       aria-controls="notes" role="tab"
                                                                       data-toggle="tab"> 病人简历</a></li>
                    </ul>


                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade in active" id="home">
                            <br/>
                            <div class="panel panel-default">
                                <div class="panel-heading">挂号区域</div>
                                <div class="patient-container">
                                    <div class="patient-container-item" th:each="depts:${dept}">

                                        <div class="patient-container-left" th:text="${depts.name}">

                                        </div>
                                        <div class="patient-container-right">
                                            <button type="button" class="btn btn-primary" data-toggle="modal"
                                                    th:id="${depts.id}"
                                                    data-target=".bs-example-modal-lg" th:text="挂号"
                                                    onclick="selectDocByDeptId(this)"></button>
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-default dropdown-toggle"
                                                        data-toggle="dropdown" aria-haspopup="true"
                                                        aria-expanded="false">
                                                    预约挂号 <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li><a data-toggle="modal" data-target=".bs-example-modal-lg"
                                                           href="#">时间1</a></li>
                                                    <li><a data-toggle="modal" data-target=".bs-example-modal-lg"
                                                           href="#">时间2</a></li>
                                                    <li><a data-toggle="modal" data-target=".bs-example-modal-lg"
                                                           href="#">时间3</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Table -->
                                <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog"
                                     aria-labelledby="myLargeModalLabel" id="model">

                                    <div class="modal-dialog modal-lg" role="document">

                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close"><span
                                                        aria-hidden="true">&times;</span></button>
                                                <h4 class="modal-title" id="myModalLabel">选择对应科室医生</h4>
                                            </div>
                                            <div class="modal-body" id="queryDoctorByDeptId">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="message">
                            <div class="message-content">
                                <form action="" method="POST" class="form-horizontal" role="form" id="feedBack">
                                    <div class="form-group">

                                            <textarea name="feedback" placeholder="请填写你的信息反馈" id="input"
                                                      class="form-control" rows="3"
                                                      required="required" th:text="${feedBack}"></textarea>

                                    </div>
                                    <button type="button" class="btn btn-primary" onclick="submitFeedBack1()">提交
                                    </button>
                                </form>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="notes" th:text="${illness}">
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

</body>
<script src="./js/jquery-3.3.1.min.js"></script>
<script src="./js/bootstrap.min.js"></script>
<script src="./js/popper.min.js"></script>
<script type="text/javascript" src="./js/doctor/doctorQuery.js"></script>
<script src="./js/userinfo/userinfo.js"></script>
<script>
    var tabList = $("#myTabs");

    $('#myTabs a').click(function (e) {
        e.preventDefault();
        $(this).tab('show')

    });

    function foo(e) {

        var liList = tabList.find("li");

        for (var i = 0; i < liList.length; i++) {
            liList[i].removeAttribute('class');
        }

        e.className = "active";

    }

</script>

</html>